---
layout: base
title: Memories
---

<div class="memories">

   <div id="header_zone">
      <img id="wgly1" src="/stylings/PrintedPaper_line-3.png" alt="">
      <div id="header_pos">
         <div id="header_txt">
            <p>{{ page.title }}</p>
         </div>
      </div>
      <img id="wgly2" src="/stylings/PrintedPaper_line-3_2.png" alt="">
   </div>

   {% assign current = "Memories" %}
   {% include navigation.html %}

   <p><a href="1984/05/28/denver-guitar-duo.html"><img id="mainpic" src="/pics/19840528-DenverGuitarDuo.jpg" alt="DenverGuitarDuo" style="max-width: 220px; margin-left: 120px;"></a></p>

   <p>We fondly remember our past BGS performances.</p>
   <p>
     This page is a chronological list that we have begun to reconstruct from
     old newsletters, so it will continue to grow until our records run out.
     You may search this list using your browser's "find in page" feature,
     OR, to find all the events featuring a particular person, you may want to consult the
     <a href="Stars">Stars</a> page for an alphabetical index by person.
     For information about upcoming events, see the 
     <a href="Events">Events</a> page.
   </p>
   <br><img class="wgly" src="/stylings/PrintedPaper_line-3_3.png" alt="">

   {% assign yearhdg = "" %}
   {% for post in site.posts %}
      {% capture yearpost %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% if yearpost != yearhdg %}
         {% assign yearhdg = yearpost %}
         <h2>{{ yearhdg }}</h2>
      {% endif %}

      <p><a href="{{ post.url }}">{{ post.title }}</a><br>
      {{ post.brief }}<br>
      {{ post.date | date: "%B %e, %Y" }}</p>
   {% endfor %}

   <div id="footer">
      <div id="footlinks">
         <div><i><a href="/Copyright.html">&copy; BGS</a></i></div>
      </div>
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt="">
      </div>
   </div>
</div>
