---
layout: base
title: Stars
---

<div class="events">

   <div id="header_zone">
      <img id="wgly1" src="/stylings/PrintedPaper_line-3.png" alt="">
      <div id="header_pos">
         <div id="header_txt">
            <p>{{ page.title }}</p>
         </div>
      </div>
      <img id="wgly2" src="/stylings/PrintedPaper_line-3_2.png" alt="">
   </div>

   {% assign current = "Stars" %}
   {% include navigation.html %}

   <p>
     Thanks to all the performers who make our events possible; they are our stars!
     This index includes both featured artists and, where we have records,
     the members who play at our monthly Open Stage Education Time.
     Featured artists are listed by full name and players
     by first name and last initial.
     This index will grow as both new and old events are recorded in our web site.
   </p>
   <br><img class="wgly" src="/stylings/PrintedPaper_line-3_3.png" alt="">

   <ul style="width: 510px">
   {% assign alphahdg = "" %}
   {% assign tags_sorted = site.tags | sort %}
   {% for tag in tags_sorted %}
      {% assign alphatag = tag[0] | slice: 0 %}
      {% if alphatag != alphahdg %}
         {% assign alphahdg = alphatag %}
   </ul><div class="iltrid" id="{{ alphahdg }}"><h2><a href="#top">{{ alphahdg }}</a></h2></div><ul style="width: 510px">
      {% endif %}
      <li>{{ tag[0] }}</li>
      <ul>
         {% if tag[0] contains " " %}
            {% for post in tag[1] %}
               {% assign MonYEAR = post.date | date: "%b%Y" %}
               <li><a href="{{ post.url }}">{{ MonYEAR }}  {{ post.title }}</a></li>
            {% endfor %}
         {% else %}
            <li>
            {% for post in tag[1] %}
               {% assign MonYEAR = post.date | date: "%b%Y" %}
               <a href="{{ post.url }}#footer">{{ MonYEAR }}</a> 
            {% endfor %}
            </li>
         {% endif %}
      </ul>
   {% endfor %}
   </ul>

   <div id="footer">
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt="">
      </div>
   </div>
</div>
