/* ©2025 Boulder Guitar Society */
/**********************************************************/
/*                       common.css                       */
/*                                                        */
/* Supports yellow/tan/brown paper for default.html       */
/*                                                        */
/**********************************************************/

body {
   /* the overall dark brown background layer */
   background: rgb(255, 255, 255) url(/stylings/PrintedPaper_browser_backgr-1.jpg) repeat scroll top left;
   font-family: 'Arial', sans-serif;
   color: rgb(78, 29, 2);
   margin: 0pt;
}

#body_content {
   /* the inner yellow/tan background layer */
   background: transparent url(/stylings/PrintedPaper_background-2.jpg) repeat scroll top left;
   width: 700px;
   min-height: 480px;
   margin-bottom: 0px; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   overflow: hidden;
   position: relative;
   word-wrap: break-word;
   text-align: left;
}

#body_content p {
   /* text to fit in the yellow area */
   width: 490px;
   margin-left: 30px;
   margin-right: 0px;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 18px;
   font-size: 15px;
   font-stretch: normal;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   letter-spacing: 0;
   opacity: 1.00;
   padding-bottom: 0px;
   padding-top: 0px;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
   text-transform: none;
}

.navbar {
   font-family: 'Comic Sans MS', sans-serif;
	font-size: .9em;
	color: #62462E;
	line-height: 40px;
	text-transform: uppercase;
}

.noncurrent-page {
   display: inline-block;
}

.noncurrent-page a {
   text-decoration: none;
	color: #62462E;
}

.current-page {
   display: inline-block;
}

.current-page a {
   text-decoration: none;
	color: #C75624;
}

.meeting h1 {
   color: rgb(209, 84, 57);
   font-family: 'Times New Roman', serif;
   font-size: 40px;
   line-height: 55px;
   margin-left: 30px;
}

.meeting h2 {
   font-family: 'Times New Roman', serif;
   font-size: 30px;
   margin-left: 30px;
}

.meeting img {
   max-width: 600px;
}

#footer {
   height: 80px;
   margin-left: 0px;
   position: relative;
   width: 700px;
   z-index: 0;
}

#footlinks {
   position: absolute;
   left: 0px;
   top: 15px;
   height: 40px;
   width: 531px;
   z-index: 1;
}

#wgly3 {
   position: absolute;
   left: -45px;
   top: 65px;
   height: 6px;
   width: 531px;
   border: none;
   z-index: 1;
