---
layout: base
---

<div class="meeting">

   <div id="prev"><a href="{{ page.previous.url }}">&nbsp; &#9668;</a></div>
   <div id="next"><a href="{{ page.next.url }}">&#9658; &nbsp</a></div>

   <h2>BGS Presents ...</h2>

   <h1>{{ page.title }}</h1>
   <p>{{ page.date | date: "%B %e, %Y" }}</p>

   <p>{{ page.brief }}</p>

{{ content }}


   <div id="footer">
      <div id="footlogo">
         <a href="/Welcome.html"><img src="/stylings/BGSlogo11clearblue.png" alt="logo"></a>
      </div>
      <div id="footlinks">
         <div>See the BGS <a href="/Events.html">Events</a> page for more such events.</div>
         <div><i><a href="/Copyright.html">&copy; BGS</a></i></div>
      </div>
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt="">
      </div>
   </div>
</div>
