<!DOCTYPE html>
<html lang="en">
<!-- Copyright © 2025 by Boulder Guitar Society.  All rights reserved -->
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=700">
   <title>{{ page.title }}</title>
   <link rel="stylesheet" type="text/css" href="/stylings/common.css">
   <link rel="shortcut icon" type="image/png" href="/favicon.png">
</head>
<body>
   <div id="body_content">
      {{ content }}
   </div>
</body>
</html>


