---
layout: base
---

<div class="common">

   <div id="header_zone">
      <img id="wgly1" src="/stylings/PrintedPaper_line-3.png" alt="">
      <div id="header_pos">
         <div id="header_txt">
            <p>{{ page.title }}</p>
         </div>
      </div>
      <img id="wgly2" src="/stylings/PrintedPaper_line-3_2.png" alt="">
   </div>

   {% assign current = "{{ title }}" %}
   {% include navigation.html %}

   {{ content }}

   <div id="footer">
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt="">
      </div>
   </div>
</div>

{% for post in site.posts limit:4 %}
  <p>{{ post.title }}</p>
  {% assign lines = post.content | split: "<img" %}
  {% for line in lines %}
    <p>line = {{ line }} </p>
  {% endfor %}

{% endfor %}
