---
layout: base
---

<div class="events">

   <div id="header_zone">
      <img id="wgly1" src="/stylings/PrintedPaper_line-3.png" alt="">
      <div id="header_pos">
         <div id="header_txt">
            <p>{{ page.title }}</p>
         </div>
      </div>
      <img id="wgly2" src="/stylings/PrintedPaper_line-3_2.png" alt="">
   </div>

   {% assign current = "Events" %}
   {% include navigation.html %}

   <p>
     "Events" are what happen at BGS meetings and concerts.
     This page describes current/recent events.
     See also <a href="Memories">Memories</a> for a chronological list of past BGS events
     and <a href="Stars">Stars</a> for an alphabetical index of the people
     featured at those events.
   </p>
   <br><img class="wgly" src="/stylings/PrintedPaper_line-3_3.png" alt="">

   <h2>Upcoming Events:</h2>
   {{ content }}
   <br><img class="wgly" src="/stylings/PrintedPaper_line-3_3.png" alt="">

   <h2>Our Latest Event:</h2>
   {% assign latest = site.posts.first %}
   <div id="latest_ttl">
      <p><a href="{{ latest.url }}">{{ latest.title }}</a></p>
   </div>
   <p>{{ latest.date | date: "%B %e, %Y" }}</p>
   <p>{{ latest.brief }}</p>
   <div class="meeting">
      {{ latest.content }}
   </div>
   <br><img class="wgly" src="/stylings/PrintedPaper_line-3_3.png" alt="">

   <h2>Other Recent Events:</h2>
   {% for post in site.posts limit:4 %}
      {% unless post == latest %}
         <br><p>
         {% assign frags = post.content | split: '<img ' %}
         {% if frags.size > 1 %}
            {% assign imgattrs = frags[1] | split: '/>' | first %}
            <img class="recent" {{ imgattrs }} /><br>
         {% endif %}
         <a href="{{ post.url }}">{{ post.title }}</a><br>
         {{ post.brief }}<br>
         {{ post.date | date: "%B %e, %Y" }}</p>
      {% endunless %}
   {% endfor %}

   <div id="footer">
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt="">
      </div>
   </div>
</div>
