---
layout: base
---

<div class="events">

   <div id="header_zone">
      <img id="wgly1" src="/stylings/PrintedPaper_line-3.png" alt="">
      <div id="header_pos">
         <div id="header_txt">
            <p>{{ page.title }}</p>
         </div>
      </div>
      <img id="wgly2" src="/stylings/PrintedPaper_line-3_2.png" alt="">
   </div>

   {% assign current = "Events" %}
   {% include navigation.html %}

   <h2>Upcoming Events:</h2>
   {{ content }}

   <h2>Our Latest Event:</h2>
   {% assign latest = site.posts.first %}
   <h3><a href="{{ latest.url }}">{{ latest.title }}</a></h3>
   <p>{{ latest.date | date: "%B %e, %Y" }}</p>
   <p>{{ latest.excerpt }}</p>
   <div class="meeting">
      {{ latest.content }}
   </div>

   <h2>Other Recent Events:</h2>
   {% for post in site.posts limit:4 %}
      {% unless post == latest %}
         <p><a href="{{ post.url }}">{{ post.title }}</a><br>
         {{ post.excerpt }}<br>
         {{ post.date | date: "%B %e, %Y" }}</p>
      {% endunless %}
   {% endfor %}

   <div id="footer">
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt="">
      </div>
   </div>
</div>
