---
layout: base
---

<div class="welcome">

   <div id="header_zone" style="height: 149px;">
      <img src="/stylings/Goldenrod_Plant_b_h.png" alt=" " style="position: absolute; left: 401px; top: -8px; z-index: 1; ">
      <img src="/stylings/BGSlogo11clearblue.png" alt="logo" style="height: 88px; position: absolute; left: 30px; top: 57px">
      <div id="header_pos" style="height: 100px; left: 120px; top:49px;">
         <div id="header_txt">
            <p style="padding-top: 0pt; color: rgb(69, 70, 238); line-height: 52.4833px; font-size: 45.8333px;">The Boulder<br>Guitar Society</p>
         </div>
      </div>
   </div>

   {% assign current = "Welcome" %}
   {% include navigation.html %}

   {{ content }}

   <div id="footer">
      <div id="footlogo">
         <a href="/Welcome.html"><img src="/stylings/BGSlogo11clearblue.png" alt="logo"></a>
      </div>
      <div id="footlinks">
         <div><a href="/Welcome.html">The Boulder Guitar Society</a></div>
         <div><i><a href="/Copyright.html">&copy; BGS</a></i></div>
      </div>
      <div id="wgly3">
         <img src="/stylings/PrintedPaper_line-3_3.png" alt=" ">
      </div>
   </div>
</div>

